#tete {
    
    background-color: #343F51;
    width: 100%;
    height: 400px;
    color: aliceblue;
    text-align: center;
    padding: 15px;
    
}
#photo {
    border-radius: 50%;
}

#info {
    text-align: center;
    padding: 5px;
}



.millieu {
    text-align: center;
}
#gosh {
    
    float: left;

   
    background-color: grey;
    width: 30% ;
    height: 1000px;
}

 #para { 
    text-align: center ;
    padding: 5px;
 }