#tete {
    
    background-color: #343F51;
    width: 100%;
    height: 400px;
    color: aliceblue;
    text-align: center;
    padding: 15px;
    
}
#photo {
    border-radius: 50%;
}

#info {
    text-align: center;
    padding: 5px;
}




#gosh {
    text-align: center;
    color: black;
    
    float: left;

   
    background-color: #D5DCE6;
    width: 30% ;
    height: 1000px;
}
.millieu {
    font-weight: 100;
    text-align: center;
    color: #343F51;

}
 .space {
    margin-left: 150px;
 }
