#tete {
    
    background-color: #343F51;
    width: 100%;
    height: 300px;
    color: aliceblue;
    text-align: center;
    padding: 15px;
    padding-bottom: 30px;

    
}
#photo {
    border-radius: 50%;
}

#info {
    text-align: center;
    padding: 5px;
}

body {
    margin: 0px;
}
 ul {
    list-style: none;
 }

#gosh {
    
    text-align: center;
    color: black;
    
    float: left;

   
    background-color: #D5DCE6;
    width: 30% ;
    height: 1000
}
.millieu {
    font-weight: 100;
    text-align: center;
    color: #343F51;

}
 .space {
    margin-left: 150px;
 }

#droite { 
    text-align: center;
 float: right;
    width: 70%;
    height: 700px;
    background-color: white;
}
  
#para {
padding: 15px;

}
hr {
    margin-left: 35px;
    margin-right: 35px;
}
li {
    padding-bottom: 27px;
}

tete p {
    vertical-align: middle;
}

#jsp {
    text-align: center;

}